@import "../common/styles/scss/Variables";

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media screen and (max-width: 540px) {
    width: calc(100vw - 60px);
    margin: 20px auto;
  }

  .content {
    padding: 40px 0;

    .container {
      width: $container-width;
      margin: 0 auto;
    }
  }
}